[submodule "src/mower_location"]
	path = src/mower_location
	url = https://github.com/lyp727460067/mower_location
[submodule "src/lp_robot"]
	path = src/lp_robot
	url = https://github.com/lyp727460067/lp_robot
