<launch>
    <!-- localization : use gps+imu+odom -->

    <!-- launch mower_service/high_level_control -->
    <node pkg="mower_comms" type="mower_comms" name="mower_comms" output="screen"/>
    <node pkg="lp_robot" type="lp_robot_hw_node" name="lp_robot_hw_node" output="screen"/>

    <include file="$(find  wit_ros_imu)/launch/hwt906_reader_ros_node.launch"/>
    <include file="/home/yuxu/mower_ws/src/nmea_navsat_driver/launch/nmea_setence.launch"/>
    <include file="/home/yuxu/mower_ws/src/nmea_navsat_driver/launch/nmea_driver_to_vel_fix.launch"/>

    

    
    <!-- map -->
    <include file="$(find mower_map)/launch/map_service.launch"/>

    <!-- coverage path planning -->
    <node pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen"/>

    <!-- navigation move_base -->
    <include file="$(find open_mower)/launch/include/_move_base.launch"/>
    
    <!-- record : record map to bag file -->
    <include file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="mow_area"/>
    </include>

    <!-- main logic -->
    <include file="$(find mower_logic)/launch/mower_logic.launch"/>

    <!-- joy control -->
    <!-- <include file="$(find joy_ctrl)/launch/joy_control.launch"/> -->

</launch>
